.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 30px;
  height: 30px;
  /*padding-right: 100px;*/
}

.stations circle {
  stroke-width: 1.5px;
}

.stations text {
	/* visibility: hidden; */
	  display:none; 
}

.stations circle:hover {
	cursor: default;
}

svg.legend {
	width:20px;
	height:20px;
	float:left;
	clear:left;
}

p.legend {
	float: left;
}

#stationcat-legend {
	columnns: 3;
	-webkit-columns:3; /* Safari and Chrome */
	-moz-columns: 3; /* Firefox */
	height: 200px;
}
/*
.stations_ svg:hover {
	background-color: white;
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	margin:-5px;
	padding: 5px;
	z-index:999;
}
.stations_ svg:hover text {
	display:block;
	font-size:14px;
	font-weight:bold;
}


.stations text:hover {
	cursor: default;
}
*/
