.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 30px;
  height: 30px;
  /*padding-right: 100px;*/
}

.stations circle {
  stroke-width: 1.5px;
}

.stations text {
	/* visibility: hidden; */
	  display:none; 
}

.stations circle:hover {
	cursor: default;
}

svg.legend {
	width:20px;
	height:20px;
	float:left;
	clear:left;
}

.page-viewdata.page-viewdata-sites .panel-col-first {
	width: 20%;
	margin-right:2%;
	background-color: #fafafa;
	padding:0 10px;
}

.page-viewdata.page-viewdata-sites .panel-col-last {
	width: 74%;
}

.charttip {
	font-size: .8em;
	font-style: italic;
}

#browser-alert-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	opacity: .75;
	filter:alpha(opacity=75);
	color: white;
	z-index: 9999;
}

#browser-alert {
	width: 700px;
	min-height: 300px;
	margin: 0 auto;
	position: relative;
	left: -20px;
	padding: 30px;
}

#browser-alert h2 {
	font-weight: bold;
}

#browser-options {
	width: 560px;
	height: 150px;
	margin: 0 auto;
	clear: both;
}

#browser-options div {
	float: left;
	text-align: center;
	width: 100px;
	margin: 0 20px;
}

#dismiss {
	text-align: right;
}